<footer class="site-footer">

<div class="wrapper">
  <div class="footer-msg">
    <h4>Let us connect</h4>
    <p>Would you like to discuss how design can be leveraged to drive value for your business? Or, have any questions about my work?</p>
    <a href="mailto:vinay.chilukuri@gmail.com" target="_blank">Email Me</a>
  </div>

  <div class="social-profile">
    <li><a href="#">About Me</a></li>
    <li><a href="https://www.linkedin.com/in/vinaychilukuri/" target="_blank">LinkedIn</a></li>
    <li><a href="http://twitter.com/vinaychilukuri" target="_blank">Twitter</a></li>
  </div>
</div>

</footer>
