@charset "utf-8";

@import "color";
@import url('https://fonts.googleapis.com/css?family=Faustina:400,400i');
@import url('https://fonts.googleapis.com/css?family=Mukta+Malar:600');

// @import "lib/simple-grid.min2.css";
// Define defaults for each variable.
:root{
	font-size: 20px;
}

html, body{overflow-x: hidden;}

$base-font-family: "Faustina", serif !default;
$base-font-size:   20px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$abs-value:		   50px;

$text-color:       $oc-gray-9 !default;
$background-color: #fff !default;
$brand-color:      $oc-indigo-9 !default;
$hero-bar-bg: #1f2129;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// GRID
.row{display: flex;}
.col{
	flex: 1;
	margin: 0.5rem;

	p{
		font-size: 0.9rem;
		line-height: 2.75ex;
	}

	h4{
		line-height: 0.75;
	}

	&.hero-img{
		flex: 1.4;
		margin-right: 15px;
	}

	b{color: black;}
}

// MIXINS
@mixin full-width {
  margin-left: calc(-80vw / 2 + 800px / 2);
  margin-right: calc(-80vw / 2 + 800px / 2);
  margin-top: 50px; margin-bottom: 50px;
}

@mixin sans-serif-font($font-size: 20px){
	font-family: 'Mukta Malar', sans-serif;
	font-size: $font-size;
	font-weight: bolder;
	color: inherit;
}

@mixin system-font($size: 18px){
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
	letter-spacing: -0.1px;
	font-size: $size;
}

@mixin full-width-bar ($bg: #fff) {
	background: $bg;
	margin: 0 -9999rem;
	padding: 0 9999rem;
}

@mixin make-link-as-button{
	display: block; padding: 40px 10px;
	background: white;
	border-radius: 4px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	transition: box-shadow 0.3s ease;

	&:hover{
		text-decoration: none;
		color: mediumblue;
		box-shadow: 0px 2px 12px rgba(0,0,0,0.2);
	}
}

/* ------------ */

// this class needs to be applied only if browser width >= 1000px
@media screen and (min-width: 1000px) {
	.full-width{
		@include full-width;

		img{
			float: none;
			padding: 0;
		}
	}	
}

// Custom CSS

// Home page
body{
	-webkit-font-smoothing: antialiased;

	h2, h3, h4, h5{
		font-family: 'Mukta Malar', sans-serif;
		letter-spacing: -0.7px;
		font-weight: 600;
		color: $oc-gray-9;
		margin: 50px 0 10px 0;
		line-height: 1.05;
	}

	h2{
		margin-top: 64px;
		clear: both;
		font-size: 1.5rem !important;
	}

	h3{margin-top: 48px;}
	h4{margin-top: 32px;}
	h5{margin-top: 16px;}

	.site-header{
		// border-bottom: 1px solid $oc-orange-2;
		border-top: none;
		box-shadow: 0px 2px 6px rgba(33, 23, 33, 0.3);
	}
}

a.site-title{ 
	font-size: 20px !important;
	font-weight: 600;
	text-transform: uppercase;
	@include system-font;
	letter-spacing: 0.3px;

	background: url(/assets/img/vc-logo.svg) no-repeat;
	background-size: 40px;
	background-position: 0px 15px;
	padding: 0 0 0 45px;

	&:hover{
		text-decoration: none;
	}
}

.site-nav{

	@include system-font(16px);
	font-weight: bolder;
	text-transform: uppercase;

	a, a:visited{
		color: $oc-indigo-9 !important;
	}

	// adding PDF icon for the Resume
	a:last-child{
		background: url("/assets/img/icon_pdf.svg") no-repeat;
		background-size: 22px; background-position: right;
		padding-right: 30px;
	}

	a:hover{
		text-decoration: none; color: mediumblue;
		border-bottom: 1px dotted mediumblue;
	}
}

.page-content{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.bio{
	@include full-width-bar($hero-bar-bg);
	color: $oc-gray-1;

	//margin: 150px 0 50px 0;
	padding-top: 160px; padding-bottom: 40px;
	@include system-font;

	img{
		width: 25%; float: left;
		padding: 0 20px 20px 0;
	}

	.greeting{
		font-size: 1.85rem;
		font-weight: bolder;
		display: inline-block;
	}

	p {
		line-height: 3ex;
		margin-bottom: 1.5rem !important;
		color: $oc-gray-2;

		span{
			color: $oc-yellow-4;
		}
	}
}

section{
	margin-top: 25px;
	p{font-size: 100%; margin: 20px 0;}

	h4{
		display: inline-block;
		color: $oc-gray-8;
		border-bottom: 4px solid $oc-orange-2;
		margin: 30px 0 30px 0 !important;
		letter-spacing: 0px; line-height: 3.5ex;
		font-weight: bolder;
	}

	&.work:last-child{
		margin-bottom: 100px;
	}
}

		// EmailMe button
.btn{
	@include system-font(16px);
	display: inline-block; width: 150px;
	background: darkblue;
	color: white;
	font-weight: bolder;
	padding: 12px;
	border-radius: 2rem;
	text-align: center;

	transition: box-shadow 0.4s ease;

	&:hover{
		text-decoration: none;
		box-shadow: 0px 5px 25px rgba(0,0,0,0.3);
	}

	&:visited{color: white;}
}

// About Me
.about-page-headline{
	color: $oc-gray-7;
	padding-top: 15px;
}

.about-me{
	margin: 25px 0 0 0;
	p{@include system-font(16px)};

	aside p{
		margin-top: 10px;
		font-size: 14px;
	}

	a,a:visited{color: darkblue;}
	a:hover{
		color: mediumblue;
		text-decoration: none;
		border-bottom: 1px dotted mediumblue;
	}
	b{font-size: 1.2em;}
	img{width: 220px;}
	hr{margin: 25px 0 !important;}

	.about-info{
		flex-grow: 2;
		h4{margin: 20px 0 10px 0 !important;}
	}

	h4, h5{color: $oc-gray-8;}
}

// Case study pages
.overview{
	@include full-width-bar($hero-bar-bg);
	padding-top: 25px;
	color: $oc-gray-4;
	@include system-font;

	h1.post-title {
		color: $oc-gray-3;
		font-family: 'Faustina';
	}

	h4{color: $oc-yellow-4; margin-bottom: 30px;}
	a{color: $oc-cyan-5 !important;}
	b{color: $oc-gray-5;}
}

h1 {
	font-size: 48px; color: $oc-gray-7;
	padding-top: 16px;
	clear: both;

	&.post-title{
		border-bottom: none; color: $oc-gray-9;
		line-height: 1.15;
		padding: 30px 0 30px 0;
	}
}

.post-content{
	h3{
		clear: both;
		font-size: 125% !important;
	}

	h4{
		clear: both;
		font-size: 110%;
	}

	h5{font-size: 110%;}
}

.app-link{
	display: inline-block;
	border: 1px solid $oc-cyan-9;
    width: 130px;
    padding: 8px;
    text-align: center;
    border-radius: 24px;
    margin: 10px 5px 0 0;
    box-sizing: border-box;

    &:hover{
    	text-decoration: none;
    	border: 2px solid $oc-cyan-5;
    }
}

b{
	@include sans-serif-font(1.35em);
	font-style: normal;
	line-height: 1;
}

em{
	color: $oc-gray-7;
}

h4{
	font-size: 20px !important; 
	text-transform: uppercase; 
	color: $oc-orange-8;
	letter-spacing: -0.4px;
	margin-bottom: 5px !important;
}

p{
	margin-bottom: 24px !important;
	letter-spacing: 0px;
}

li{
	margin: 10px 0;
}

body blockquote{
	letter-spacing: 0px;
	font-size: 125%;
	border-left: none; //4px solid $oc-indigo-4;
	margin: 40px 0;
	color: $oc-indigo-9;
}

p > img{
	display: block; margin: auto;
	float: left; padding: 0 25px 25px 0;
}

iframe.prototype{display: block; margin: auto;}

img[alt~="center"]{
	float: none; 
	// padding-top: 30px;
}

img[alt~="sd"]{width: 50%;}
img[alt~="sd-l"]{width: 30%;}
img[alt~="right"]{float: right; padding: 0 0 20px 20px;}

.social-media-list .icon{padding-right: 0px !important;}

hr{margin-bottom: 10px !important;}

.case-list{margin: 0;}

.case-block-link{
	@include make-link-as-button;
	margin-bottom: 25px;

	.case-block{
		clear: left;
		@include system-font;

		img{
			width: 75px; float: right;
			padding: 0 20px 20px 30px;
		}

		.case-info {
			//width: 80%;
			position: relative; left: 1.2rem;
			font-size: 22px;

			.case-title{line-height: 2.6ex;}
			.case-tags{
				font-size: 16px;
				color: #878787;
				position: relative; top: -3px;
			}
		}
	}

	&:hover {
		.case-info{
			.case-tags{
				color: #646464;
			}
		}
	}

	&:last-child{border-bottom: none;}
}

.testimonials{
	@include full-width-bar(hsl(234, 50, 97));
	margin-top: 64px !important;
	margin-bottom: 0px !important;
	padding-bottom: 15px;

	.disclaimer{
		font-size: 0.8rem;
		display: block;
		margin: 0 auto;
		text-align: center;
		position: relative;
		top: -20px;
	}

	img{
		float: left;
	    border-radius: 50%;
	    width: 60px;
	    display: block;
	    margin: 0 10px 0 0;
	    filter: grayscale(100%);
	}

	h4{border-bottom: 4px solid #a2a9e7;} //a2a9e7

	h5{
		margin: 0px !important;
		padding-top: 10px;
		font-size: 1rem;
		line-height: 1;
	}
	span{
		display: inline-block;
		font-size: 80%;
		color: $oc-gray-7;
	}

	.recco-data{
		&:before, &:after {content: '"';}
		padding: 10px 0;
		margin-bottom: 25px;
		@include system-font(15px);
	}

	.btn{
		display: none;
		width: 300px;
		background-color: white;
		color: $oc-gray-8;
		border: 1px solid $oc-orange-4;
		margin: 30px auto;
		box-shadow: none;
		font-weight: normal;
		transition: background-color 0.3s ease;

		&:hover{
			background-color: $oc-orange-1;
			border: 1px solid $oc-orange-2;
			color: black;
		}
	}
}

.related-cases{
	@include full-width-bar(#fcfcfc);
	@include system-font;
	padding-top: 30px; padding-bottom: 35px;
	margin-top: 64px;
	border: 1px solid $oc-gray-2;

	display: flex;
	flex-direction: column;

	//a, a:visited {color: $oc-cyan-5};
	h4{ 
		display: block; 
		border-bottom: none;
		margin: 0 0 10px 0 !important;
	}

	ul{
		margin: 0;
		display: flex;
		flex-direction: row;
	}

	.rel-case{
		@include make-link-as-button;
		border: 1px solid $oc-gray-3;

		display: flex;
		align-items: center;

		padding: 20px; margin: 5px;
		font-size: 16px; line-height: 1.35;
		width: 100%; height: 60px;
	}
}

footer{
	background-color: #fefefe;
	text-align: center;

	@include system-font(16px);
	.footer-msg{
		width: 75%;
		margin: 35px auto;

		h4{letter-spacing: 0.5px;}
	}

	.social-profile {
		font-weight: bolder;
		li{
			display: inline-block;
			&:after{
				content: "|";
				padding: 0 5px;
				color: #ccc;
			}

			&:last-child::after{
				content: "";
			}
		}
	}
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@include media-query(600px){
	.site-title{
		font-size: 27px !important;
	}

	.site-nav{
		top: 14px !important;

		a.page-link{
			border-bottom: 1px solid $oc-gray-3;
			padding: 15px 0px 15px 20px;
		    text-align: left; margin-left: 0px;
		    width: 100px;
		}
	}

	.work, .testimonials h4{text-align: center;}
	.case-block-link{text-align: left;}

	.post-content h3{
		font-size: 125% !important;
	}

	// grid
	.row{
		display: block;
		padding-bottom: 15px;
	}

	p > img, img[alt~="right"]{
		display: block; margin: auto;
		float: none; padding: 20px 0px 20px 0;
	}

	img[alt~="sd"]{width: 80%;}
	.bio img{width: 50%;}

	.case-info{font-size: 20px !important;}
	.case-tags{display: none;}

	.related-cases{
		ul{flex-direction: column;}
		.rel-case{width: auto;}
	}
}

.lSSlideOuter{
	display: flex;
	flex-direction: column-reverse;
}

.gallery{
	height: 75% !important;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
