---
layout: default
---

<div class="home">
  <div class="bio">
    <div class="bio-blk">
      <div class="greeting">Vinay Chilukuri
      <p>Product design leader</p></div>

      <p><span>"Upgrade the user and not the product"</span> &mdash;
        I design with this intent to help people make progress towards their goals. I love solving complex systemic and behavioral problems and design solutions to create an impact for the business. </p>

      <p>Designing the environment in which design happens is equally important as the design itself. I enjoy setting up processes to improve workflows, create rituals that promote collaboration and daydream about how design tools could evolve. </p>

      <p>With ~5yr exp. in leading teams and 14+ yrs in the industry &mdash; I'm looking for leadership roles. <a class="about" href="/about" target="_blank">More about me.</a></p>
    </div>
  </div>

  <section class="work" id="my-work">
    <h4>Past work (updated in 2020)</h4>
    <div class="content-grid"> <!-- content-grid row -->
      {% for case in site.cases %}
        <a class="case-block-link" href="{{ case.url | relative_url }}">
          <div class="case-block">
            <img src={{case.img_dir}}/{{case.thumb}} alt="" class="col">
            <div class="case-info col">
              <div class="case-title">{{ case.title | escape }}</div>
              <span class="case-tags">{{ case.case-tag }}</span>
              <div class="year">{{ case.year }}</div>
              <!-- <div class="case-impact">{{ case.impact }}</div> -->
            </div>
          </div>
        </a>
      {% endfor %} 
    </div> 
  </section>

  <!-- <section class="work" id="presentations">
    <h4>Presentations</h4>
    <div class="presentation-links">
      <a href="https://www.slideshare.net/secret/oyxcmubB0xcyBQ" class="case-block-link" target="_blank">Introduction to Usability</a>
      <a href="https://www.slideshare.net/secret/5U8QSVwb4QVTE2" class="case-block-link" target="_blank">UX for Product Managers</a>
    </div>
  </section> -->



  {% include testimonial_excerpts.html %}
  
  {{ content }}

  

</div>
