---
layout: default
---

<div class="home">
  <div class="bio">
    <div class="bio-blk">
      <div class="greeting">Vinay Chilukuri
      <p>Design Lead, Flipkart</p></div>

      <p><span>"Upgrade the user and not the product"</span> &mdash;
        I design with this intent to help people make progress towards their goals. Behaviour over pixels &mdash; I love solving complex problems and design solutions to create an impact for the business.</p>

      <p>I'm constantly aware of how one can listen better, keep our biases aside and get to the important state of empathy. I also enjoy setting up processes for the team to improve workflows and daydream about how design tools could evolve. </p>

      <p>With 2yr exp. in leading a team, 8.5 yrs in the Industry + 3 yr Masters in HCI - I'm looking for Lead / Managerial roles. <a class="about" href="/about" target="_blank">More about me.</a></p>
    </div>
  </div>

  <section class="work" id="my-work">
    <h4>Some of my work</h4>
    <div class="content-grid"> <!-- content-grid row -->
      {% for case in site.cases %}
        <a class="case-block-link" href="{{ case.url | relative_url }}">
          <div class="case-block">
            <img src={{case.img_dir}}/{{case.thumb}} alt="" class="col">
            <div class="case-info col">
              <div class="case-title">{{ case.title | escape }}</div>
              <span class="case-tags">{{ case.case-tag }}</span>
              <div class="year">{{ case.year }}</div>
              <!-- <div class="case-impact">{{ case.impact }}</div> -->
            </div>
          </div>
        </a>
      {% endfor %} 
    </div> 
  </section>

<!--   <section class="work">
    <h4>Other relevant work</h4>
    {% for case in site.other %}
    <a class="case-block-link" href="{{ case.url | relative_url }}">
        <div class="case-block row">
          <img src="/assets/img/movie-cam.svg" alt="" class="col">
          <div class="case-info col">
            <div class="case-title">{{ case.title }}</div>
            <span class="case-tags">{{ case.case-tag }}<span>
          </div>
        </div>
      </a>
    {% endfor %}
  </section>
 -->

  <section class="work" id="presentations">
    <h4>Presentations</h4>
    <div class="presentation-links">
      <a href="https://www.slideshare.net/secret/oyxcmubB0xcyBQ" class="case-block-link" target="_blank">Introduction to Usability</a>
      <a href="https://www.slideshare.net/secret/5U8QSVwb4QVTE2" class="case-block-link" target="_blank">UX for Product Managers</a>
    </div>
  </section>



  {% include testimonial_excerpts.html %}
  
  {{ content }}

  

</div>