---
layout: default
---

<div class="home">
  <h3 class="page-color-block"></h3>
  <div class="bio">
    <img src="https://static.notion-static.com/ce213a1e014b4d6b8a936f3e0d090b97/vin.jpeg" alt="Vinay's picture">
    <p>Hi there! I am a designer with a background in Cognitive Science. I love solving problems through design that have some positive impact on the world. <!-- My background helps me to deconstruct a problem and look at the various forces operating in it's context. --> I solve problems for businesses by removing the unnecessary and create value by truly putting the user at the core. <br/> <br/> I also love mentoring designers who are starting out.</p>
  </div>

  <h4 class="page-heading">My Design Work</h4>
  
  {{ content }}

  <ul class="case-list">
    {% for case in site.cases %}
    <a class="case-block-link" href="{{ case.url | relative_url }}">
      <div class="case-block">
      	<img src={{case.imgurl}} alt="">
      	<div class="case-info">
          <div class="case-title">{{ case.title | escape }}</div>
          <span class="case-tags">{{ case.case-tag }}</span>
        </div>
      </div>
    </a>
    {% endfor %}
  </ul>

</div>